#articlepagebox {
  min-height: 85%;
  background-color: #dbdbdb;
}

#articlepage {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  height: 100%;
  width: 100%;
  text-align: center;
}

#avatarbox {
  max-width: 20%;
  width: 20%;
  max-height: 10%;
  height: 10%;
  margin: 1em auto;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

#avatarbox img {
  max-height: 90%;
  max-width: 90%;
  margin: auto;
  display: block;
  outline: 3px solid #c7002f;
}

#articlepage > h1 {
  margin: auto;
  width: 70%;
  margin-top: 0.8em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid black;
}

#articlepage > h3 {
  margin: auto;
  width: 50%;
  padding-bottom: 0.8em;
  border-bottom: 1px solid black;
}

#articlepage > p {
  padding: 4em;
}

#proparrowbox {
  display: flex;
  flex-flow: column nowrap;
}

#votebelow {
  font-size: 3vw;
}

#rightarrows {
  margin-left: 55%;
  display: flex;
  flex-flow: row nowrap;
}

#articlepageprops {
  display: flex;
  flex-flow: row nowrap;
}

#articlepagepropbtns span {
  margin: auto;
  font-size: 3em;
}

#articlepagepropbtns button {
  font-size: 3em;
}

#plusplus {
  background-color: transparent;
  border: 0;
}

.votedup {
  color: green;
}

#minusminus {
  background-color: transparent;
  border: 0;
}

.voteddown {
  color: red;
}

#articlepagepropbtns button:hover {
  cursor: pointer;
}

#downarrows {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .gonearrows svg {
    display: none;
  }

  #proparrowbox * {
    margin: 0 auto;
  }
}

#commentsbox {
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border: 3px solid #c7002f;
  border-radius: 15px;
}

#commentflex {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

#sendcommentbox {
  width: 90%;
  margin: 1em auto;
  height: 5vh;
}

#imgwrap {
  max-height: 100%;
  max-width: 100%;
}

.input-group-prepend > div {
  width: 100%;
  height: 100%;
}

.input-group-prepend button {
  height: 100%;
  border-radius: 0;
  padding-bottom: 1px;
}

#thumb {
  max-height: 100%;
  max-width: 50%;
  border: 1px solid gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 9999;
}

#commenttext {
  display: flex;
  flex-flow: column nowrap;
  width: 75%;
  overflow-y: scroll;
  overflow: hidden;
}

#commentpropbtns {
  width: 10%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#commentvotes {
  font-size: 1.4em;
}

#commentpropbtns button {
  font-size: 2em;
  margin: auto;
}

#commentpropbtns button:hover {
  cursor: pointer;
}

#commentpropbtns span {
  font-size: 2em;
}

.oddcomment {
  background-color: white;
}

#commentdeletebox {
  position: relative;
  width: 15%;
  min-height: 100%;
  color: #c7002f;
}

#commentdeletebox p {
  position: absolute;
  bottom: 0;
  margin: 0;
}

.clickable:hover {
  cursor: pointer;
}

.input-group-prepend button {
  color: black;
}

.input-group-prepend button:hover {
  color: #c7002f;
  background-color: #272727;
}

#commenttext a {
  color: #c7002f;
}
