#headingbox {
  background-color: #ececec;
}

#newslogo {
  width: 100%;
  height: 55%;
  text-align: center;
}

#headunderlinks {
  height: 45%;
  background-color: #272727;
  width: 100%;
  display: grid;
  grid-template-areas: "nav space profile";
  grid-template-columns: 1fr 2fr 1fr;
}

#ncnewstext {
  margin-top: 0.5em;
  font-size: 25pt;
}

#topicnavs {
  grid-area: "nav";
  width: 100%;
  color: #6d6d6d;
}

#navtext {
  height: 50%;
  text-align: center;
  color: #6d6d6d;
}

#innernavs {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  justify-content: space-around;
}

#innernavs a {
  color: #6d6d6d;
}

#innernavs a:hover {
  color: #c7002f;
}

#topicnavs ul {
  list-style-type: disc;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  margin-left: 2em;
}

#headprofile {
  grid-area: "profile";
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

#headprofile button {
  background-color: transparent;
  color: #6d6d6d;
  border: 3px solid #6d6d6d;
  border-radius: 5px;
  padding: 4px;
  margin-top: 0.6em;
  margin-right: 2em;
  margin-left: 0.6em;
}

#headprofile .activebtn button:hover {
  color: #c7002f;
  border-color: #c7002f;
  cursor: pointer;
}
