#userpagebox {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 85%;
  height: 85%;
  background-color: lightseagreen;
}

#otherusers {
  position: absolute;
  top: 15%;
  right: 0;
  height: 51%;
  width: 25%;
  background-color: seagreen;
}

#specificuser {
  height: 100%;
}

#userinfobox {
  min-height: 60%;
  background-color: gainsboro;
  display: flex;
  flex-flow: row nowrap;
}

#userpicinfo {
  width: 30%;
  min-height: 100%;
  /* outline: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
}

#userpicinfopicbox {
  /* outline: 1px solid green; */
  min-height: 50%;
  margin: auto;
}

#userpicinfopicbox img {
  margin-left: 2em;
  min-height: 100%;
  width: 90%;
}

#communityprops {
  /* outline: 1px solid blue; */
  min-height: 30%;
  text-align: center;
}

#usertextinfo {
  width: 45%;
  min-height: 40%;
  /* outline: 1px solid red;
  z-index: 999999; */
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: space-between; */
}

#usertextinfo h1 {
  /* outline: 1px solid red; */
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 30%;
  border-bottom: 1px solid black;
}

#usertextinfo p {
  margin: 0.8em;
}

#usertextinfo h3 {
  margin: auto;
  width: 50%;
  border-bottom: 1px solid black;
}

#userarticles {
  /* min-height: 40%; */
  background-color: gainsboro;
  padding-bottom: 1em;
}

#userarticlesheader {
  text-align: center;
  width: 40%;
  margin: auto;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
}

#userarticles .card {
  border: 0px solid white;
  margin: 4px auto;
  width: 60%;
}

#userarticles .card-body {
  /* border: 0px; */
}
